
.animation_delay_0_3s {
  animation-delay: 0.3s; //动画延迟时间
}

.animation_delay_0_5s {
  animation-delay: 0.5s; //动画延迟时间
}

.animation_delay_1s {
  animation-delay: 1s; //动画延迟时间
}

.animation_delay_1_5s {
  animation-delay: 1s; //动画延迟时间
}

.animation_delay_2s {
  animation-delay: 1s; //动画延迟时间
}
